services:
  postgres:
    image: postgres:latest
    container_name: bank_postgres
    environment:
      POSTGRES_DB: bank_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d bank_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: